.bold {
  font-weight: bold;
 }

.align-right {
  text-align: right;
 }

.center {
  text-align: center;
 }

body {
  background-color: #3dcfc2;
  color: #222222;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
 }

#left {
  text-align: left;
}

hr {
  color: #000000;
}

.indent {
  text-indent: 50px;
  list-style-type: square;
  line-height: 0.5;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 0%;
}

h2 {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}
