h* 
  color: #443322
  }
.bold {
  font-style: strong;
  }
.align-right {
  text-align: right;
  }
.center {
  text-align: center;
  }
body {
  background-color: #3dcfc2;
  color: navy;
  font-family: 
  margin: 10% 10%;
  }
